<div class="container">
  <div class="row">
    <div class="col d-lg-flex flex-wrap justify-content-center gap-4">
      <article class="card col-lg-3 rounded-2 mb-3" routerLink="./photos">
        <img
          src="assets\Photos\a1.jpg"
          class="card-img-top img-fluid"
          alt="img-1"
        />
        <div class="card-body">
          <h3 class="card-title text-center">15</h3>
          <p class="card-text text-center text-success">PHOTOS</p>
        </div>
      </article>
      <article class="card col-lg-3 rounded-2 mb-3" routerLink="./photos">
        <img
          src="assets\Photos\a2.jpg"
          class="card-img-top img-fluid"
          alt="img-2"
        />
        <div class="card-body">
          <h3 class="card-title text-center">15</h3>
          <p class="card-text text-center text-success">PHOTOS</p>
        </div>
      </article>
      <article class="card col-lg-3 rounded-2 mb-3" routerLink="./photos">
        <img
          src="assets\Photos\a3.jpg"
          class="card-img-top img-fluid"
          alt="img-3"
        />
        <div class="card-body">
          <h3 class="card-title text-center">15</h3>
          <p class="card-text text-center text-success">PHOTOS</p>
        </div>
      </article>
      <article class="card col-lg-3 rounded-2 mb-3" routerLink="./photos">
        <img
          src="assets\Photos\a4.jpg"
          class="card-img-top img-fluid"
          alt="img-3"
        />
        <div class="card-body">
          <h3 class="card-title text-center">15</h3>
          <p class="card-text text-center text-success">PHOTOS</p>
        </div>
      </article>
      <article class="card col-lg-3 rounded-2 mb-3" routerLink="./photos">
        <img
          src="assets\Photos\a5.jpg"
          class="card-img-top img-fluid"
          alt="img-3"
        />
        <div class="card-body">
          <h3 class="card-title text-center">15</h3>
          <p class="card-text text-center text-success">PHOTOS</p>
        </div>
      </article>
      <article class="card col-lg-3 rounded-2 mb-3" routerLink="./photos">
        <img
          src="assets\Photos\a6.jpg"
          class="card-img-top img-fluid"
          alt="img-3"
        />
        <div class="card-body">
          <h3 class="card-title text-center">15</h3>
          <p class="card-text text-center text-success">PHOTOS</p>
        </div>
      </article>
    </div>
  </div>
  <ng-template #falseBlock>
    <h1 class="alert alert-danger">Loading....</h1>
  </ng-template>
</div>
